<?xml version="1.0" encoding="UTF-8"?>
<server description="new server">

    <!-- Enable features -->
    <featureManager>
        <feature>javaee-8.0</feature>
        <feature>microProfile-2.2</feature>
        <feature>monitor-1.0</feature>
    </featureManager>

    <basicRegistry id="basic" realm="BasicRealm">
         <user name="admin" password="admin" />
    </basicRegistry>
    <administrator-role>
        <user>admin</user>
    </administrator-role>

    <!-- <mpMetrics authentication="false"/>-->

    <!-- To access this server from a remote client add a host attribute to the following element, e.g. host="*" -->
    <httpEndpoint id="defaultHttpEndpoint"
                  httpPort="9080"
                  httpsPort="9443"/>

    <!-- Automatically expand WAR files and EAR files -->
    <applicationManager autoExpand="true"/>

    <library id="H2JDBCLib">
        <fileset dir="${wlp.install.dir}/lib" includes="h2-1.4.199.jar"/>
    </library>

    <dataSource id="h2test" jndiName="jdbc/h2test">
        <!-- Define the DataSource class names on the <jdbcDriver> element -->
        <jdbcDriver
                javax.sql.XADataSource="org.h2.jdbcx.JdbcDataSource"
                javax.sql.ConnectionPoolDataSource="org.h2.jdbcx.JdbcDataSource"
                javax.sql.DataSource="org.h2.jdbcx.JdbcDataSource"
                libraryRef="H2JDBCLib"/>
        <!-- set the connection URL on the <properties> element.
             this corresponds to the setURL() method on H2's JdbcDataSource class.
             you may also list any properties here that have a corresponding setXXX method on H2's JdbcDataSource class -->
        <properties URL="jdbc:h2:mem:testdb"/>
    </dataSource>

</server>
